.product {
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* margin-left: 30px; */
}

.product-name {
    color: royalblue;
    font-weight: 500;
}

.main-btn {
    background: rgb(236, 179, 34);
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid grey;
    
}
.product-info{
    margin-right: 10px;
}

.image{
    margin-right: 20px;
}